<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Batikify"
        tools:targetApi="31">

        <activity
            android:name=".screen.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.home.HomeActivity"
            android:label="Home Page"/>
        <activity android:name=".screen.classification.ClassificationActivity"
            android:label="Classification"/>
        <activity android:name=".screen.ensiklopedia.EnsiklopediaActivity"
            android:label="Ensiklopedia"/>
        <activity android:name=".screen.detail.DetailActivity"/>
        <activity android:name=".screen.profile.ProfileActivity"
            android:label="Profile"/>
        <activity android:name=".screen.classification.CameraActivity" />
        <activity android:name=".screen.history.HistoryActivity"
            android:label="History"/>
        <activity android:name=".screen.artikel.ArticleNews"
            android:label="Articles"/>
        <activity android:name=".screen.main.MainActivity"/>

    </application>

</manifest>